<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Dá/Š/to</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault"  [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/users"><i class="fa fa-users"></i> Uživatelé<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/challenges"><i class="fa fa-tasks"></i> Výzvy</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
      	<a class="nav-link" routerLink="/myChallenge"><i class="fa fa-user"></i> Moje výzva</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
      	<a class="nav-link" routerLink="/newChallenge"><i class="fa fa-plus-square"></i> Nová výzva</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Dva</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Meníčko</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/user/1">Kdo jsem</a>
          <a class="dropdown-item" href="#">Moje hodnost</a>
          <a class="dropdown-item" href="#">Pravidla</a>
        </div>
      </li> -->
    </ul>
		<app-search></app-search>
  </div>
</nav>
