<div *ngIf="challenge">
	<h1>Moje výzva</h1>
	<app-challenge-detail [challenge]="challenge"></app-challenge-detail>
	<h2>Potvrdit splnění</h2>
	<form (ngSubmit)="onSubmit()" #finishedChallengeForm="ngForm">
		<div class="form-group row">
			<label for="difficulty" class="col-sm-2 col-form-label">Splnil jsi?</label>
			<div class="col-sm-10">
				<select class="form-control" id="finishStatusId" [(ngModel)]="finishStatusId"
					name="finishStatusId" required>
					<option value="2">Bohuže ne. Jsem totiž srágora.</option>
					<option value="1" selected>Jasně, jsem machr.</option>
				</select>
			</div>
		</div>
		<button type="submit" class="btn btn-success"
			[disabled]="!finishedChallengeForm.form.valid">Odeslat</button>
	</form>
</div>
