<div class="container">
  <div class="jumbotron row">
    <div class="col-9">
    <h1>Dášto</h1>
    <p>Máš přesně týden na splnění zadaného úkolu. Dokaž, že jsi správný Supersojčák. Dáš to?</p>
    </div>
    <div class="col-3">
      <app-currentUser [currentUser]="currentUser"></app-currentUser>
      <button type="button" (click)="challengeFinished()" *ngIf="currentUser.currentChallenge !== null" class="btn btn-primary">Splnil jsem!</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ngb-tabset justify="justified" type="pills">
        <ngb-tab title="Moje úkoly">
          <ng-template ngbTabContent>
            <div *ngIf="currentUser.currentChallenge === null">
              <div class="text-center"><h2>Chceš výzvu? Ukaž jakej jsi?</h2></div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-10">
                    <div class="row">
                      <button type="button" class="col-2 btn btn-default" disabled="disabled">Nechci, jsem srab</button>
                      <div class="col-1"></div>
                      <button (click)="acceptChallenge()" class="btn col-9 ">Chci výzvu, jsem totiž hustej!</button>
                    </div>
                  <div class="col-1"></div>
                </div>
              </div>
            </div>
            <app-myTasks [currentUser]="currentUser" [myChallenges]="myChallenges"></app-myTasks>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Všechny úkoly">
          <ng-template ngbTabContent>
            <div class="row">
              <label class="col-3">Výzva:
                <input [(ngModel)]="challengeName" placeholder="titulek">
              </label>
            </div>
            <button (click)="createChallenge()" class="btn btn-primary">Vytvoř výzvu</button>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Supersojčák</th>
                  <th>Výzva</th>
                  <th>Datum startu</th>
                  <th>Splněno</th>
                  <th>Obtížnost</th>
                  <th>Autor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let challenge of solvedChallenges">
                  <td>{{ getExecuter(challenge) }}</td>
                  <td>{{ challenge.title }} </td>
                  <td>{{ challenge.started }} </td>
                  <td>{{ challenge.finished }} </td>
                  <td>{{ challenge.difficulty.name }} </td>
                  <td>{{ challenge.creator.nickName }} </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Supersojčáci">
          <ng-template ngbTabContent>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Supersojčák</th>
                  <th>Body</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users" [class.success]="user.hasChallenge">
                  <td>{{ user.nickName}}</td>
                  <td>{{ user.scoreChallenges }} </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
